---
---

// 1. Define your custom theme colors
$theme-color-primary: #456b58;   // Used for header background and main elements
$theme-color-secondary: #97a69f; // Used for secondary accents
$text-color: #204030;            // Used for regular text
$bg-color: #a5d4bd;              // Used for page body background

// 2. Import the original theme styles to apply your variables
@import "{{ site.theme }}";
